LABM1C3-01BasicWS/timeservice.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://jaxws.jaad.cibertec.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jaxws.jaad.cibertec.edu/">

<xs:element name="timeAsElapsed" type="tns:timeAsElapsed"></xs:element>

<xs:element name="timeAsElapsedResponse" type="tns:timeAsElapsedResponse"></xs:element>

<xs:element name="timeAsString" type="tns:timeAsString"></xs:element>

<xs:element name="timeAsStringResponse" type="tns:timeAsStringResponse"></xs:element>

<xs:complexType name="timeAsString">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="timeAsStringResponse">
<xs:sequence>
<xs:element name="timeReponse" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timeAsElapsed">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="timeAsElapsedResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>