LABM1C3-01BasicWS-Web/src/main/webapp/WEB-INF/wsdl/timeService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://jaxws.jaad.cibertec.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jaxws.jaad.cibertec.edu/">

<xs:element name="getTimeAsElapsed" type="tns:getTimeAsElapsed"></xs:element>

<xs:element name="getTimeAsElapsedResponse" type="tns:getTimeAsElapsedResponse"></xs:element>

<xs:element name="timeStr" type="tns:timeStr"></xs:element>

<xs:element name="timeStrResponse" type="tns:timeStrResponse"></xs:element>

<xs:complexType name="getTimeAsElapsed">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getTimeAsElapsedResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timeStr">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="timeStrResponse">
<xs:sequence>
<xs:element name="timeResponse" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>